@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: 'Nanum Gothic', serif;
}

.margin-auto {
	margin: auto;
}

.top-buffer {
	margin-top: 20px;
}

.left-buffer {
	margin-left: 20px;
}

.right-buffer {
	margin-right: 20px;
}

.bottom-buffer {
	margin-bottom: 20px;
}

.font-big {
	font-size: 150%
}

#warring {
	width: 100%;
	height: 100%;
	padding-top: 20%;
	position: fixed;
	z-index: 9999;
	text-align: center;
	font-size: 70px;
	background-color: rgba(0, 0, 0, 0.17);
	display: none;
}

.red {
	color: red
}

.green {
	color: green
}

.bigger-icon {
	font-size: 30px;
	margin-top: 5px;
}

.loading {
	display: block;
	background-size: 300px;
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	z-index: 100;
	position: fixed;
	position: fixed;
	width: 100%;
	margin: auto;
	margin-top: 10%;
	position: fixed;
	background-position: center;
	background-image: url('../img/loading.gif');
}

.pointer {
	cursor: pointer;
}